<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add New Product</legend>
<p>
    <a th:href="@{/product/create}">
        Back to Product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/save}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{productName}"/>
        </div>
        <div>
            <label>Product Price</label>
            <input type="email" th:field="*{price}"/>
        </div>
        <div>
            <label>Product Description</label>
            <input type="text" th:field="*{product_description}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</fieldset>
<footer th:replace="layout :: footer"></footer>
</body>
</html>