<div style="text-align: center;">
  <h1>Danh Sách Hợp Đồng Chi Tiết</h1>
</div>
<nav class="navbar navbar-light bg-light px-0">
  <button class="btn btn-primary my-2 my-sm-0" type="submit">ADD NEW</button>
  <form class="form-inline">
    <input class="form-control mr-sm-2" placeholder="Search" [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ID Contact</th>
      <th scope="col">ID IncludeService</th>
      <th scope="col">Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let detailService of detailServices|filter:term |paginate: { itemsPerPage: 3, currentPage: p }">
    <tr>
      <td>{{ detailService.id }}</td>
      <td>{{ detailService.idContact }}</td>
      <td>{{ detailService.idIncludeService }}</td>
      <td>{{ detailService.number }}</td>
      <td><a href="">EDIT</a></td>
    </tr>
  </tbody>
</table>
<div class="row" style="position: absolute; top: 60%">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>