<!-- <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Furama Addmin Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Quản lý Khách Hàng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Quản Lý Nhân Viên</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Quản Lý Hợp Đồng</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quản Lý HD Chi Tiết</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quản Lý Dịch Vụ</a>
      </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul> -->


  
  <div class="bg-light border-right" id="sidebar-wrapper">
    <a href="" class="sidebar-heading" id="home">Admin Page </a>
    <div class="list-group list-group-flush">
      <a href="employee-list" class="list-group-item list-group-item-action bg-light" >Quan lý Nhân Viên</a>
      <a href="customer-list" class="list-group-item list-group-item-action bg-light">Quan Lý Khách Hàng</a>
      <a href="services-list" class="list-group-item list-group-item-action bg-light">Quan Lý Dịch Vụ</a>
      <a href="contact-list" class="list-group-item list-group-item-action bg-light">Quan Ly Hợp Đông</a>
      <a href="contactDetail-list" class="list-group-item list-group-item-action bg-light">Quan Lý HD Chi Tiết</a>
    </div>
  </div>